---
//Testing some of astro's features
const identity = {
  firstName: "Eric",
  country: "Canada",
  occupation: "Software Engineer",
  hobbies: ["Virtual Reality", "Computer Building", "Programming"],
};

const skills = ["C++", "C#", "JavaScript", "Python", "Astro.js", "MySQL"];
//** *//

import Baselayout from "../layouts/baselayout.astro";
---
<Baselayout pageTitle="About Me">
	<h1 class="header">About me</h1>
	<h2 class="header">Hello! My name is {identity.firstName}!</h2>
	<p>I am a second year computer science student at St Lawrence College.</p>
	<p>I am a full stack developer, most familiar with the C languages, Javascript, and Python. I also know a little bit of COBOL.</p>
	
	<p class="header">Here are a few facts about me:</p>
	<ul>
		  <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
		  {identity.hobbies.length >= 2 &&
			<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
		  }
	</ul>
	<p>My skills are:</p>
	<ul>
		{skills.map((skill) => <li>{skill}</li>)}
	</ul>
</Baselayout>

