---
const pageTitle = "About me";

const identity = {
  firstName: "Eric",
  country: "Canada",
  occupation: "Software Engineer",
  hobbies: ["Virtual Reality", "Computer Building", "Programming"],
};

const skills = ["C++", "C#", "JavaScript", "Python", "Astro.js", "MySQL"];

// CSS Variables
const bgColour = "#1e1e1e";
const defaultText = "#ffffff";
const purpleText= "#9d03fc";
const navBg = "#2c2c2c"; 
const navHover = "#b33ff6"; 
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>

		<style define:vars={{bgColour, defaultText, purpleText, navBg, navHover}}>
			body{
				background-color: var(--bgColour);
				color: var(--defaultText);
				font-family: Arial, Helvetica, sans-serif;
			}
			.header{
				color: var(--purpleText);
				font-weight: bold;
			}
			.navbar {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: var(--navBg);
				padding: 1rem;
				box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
			}
			.navbar a {
				color: var(--defaultText);
				text-decoration: none;
				margin: 0 1rem;
				font-weight: bold;
				padding: 0.5rem 1rem;
				border-radius: 4px;
				transition: background-color 0.3s ease, color 0.3s ease;
			}
			.navbar a:hover {
				background-color: var(--purpleText);
				color: var(--bgColour);
			}
			.navbar a.active {
				color: var(--purpleText);
				text-decoration: underline;
			}
		</style>

	</head>
	<body>
		<nav class="navbar">
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/blog">Blog</a>
		</nav>

		<h1 class="header">{pageTitle}</h1>
        <h2 class="header">Hello! My name is {identity.firstName}!</h2>
        <p>I am a second year computer science student at St Lawrence College.</p>
        <p>I am a full stack developer, most familiar with the C languages, Javascript, and Python. I also know a little bit of COBOL.</p>

		<p class="header">Here are a few facts about me:</p>
		<ul>
  			<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
  			{identity.hobbies.length >= 2 &&
    			<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
 			 }
		</ul>
		<p>My skills are:</p>
		<ul>
			{skills.map((skill) => <li>{skill}</li>)}
		</ul>

	</body>
</html>
